<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="outter">
        <span>Outer Div</span>
        <div class="inner" style="margin: top 30px;">
            <span>inner div</span>
        </div>
        <div class="other-div">

            <span>other div</span>
        </div>
    </div>
    <h2>Div positioning</h2>

    <input type="text" placeholder="Name please">

<style>
    body{
        margin: 0px;
    }
    .outter{
        background-color: red;
        color: #fff;
        height: 250px;
        width: 300px;
    }
    .inner{
        background-color:blue;
        color: #fff;
        height: 100px;
        width: 100px;
    }

    ::selection{
        color: red;
        background-color: white;
    }
    .outter{
        /* background-color: blueviolet; */
        background: url('flag.webp');
    }
</style>
</body>
</html>